[submodule "library/external_modules/ansible_aur"]
	path = library/external_modules/ansible_aur
	url = git://github.com/cdown/ansible-aur.git
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/benjaminshafii/dotfiles.git
[submodule "library/external_modules/ansible-aur"]
	path = library/external_modules/ansible-aur
	url = git://github.com/cdown/ansible-aur.git
